* {
	font-family: Montserrat;
}

body{ 
	width: 1440px;
    margin: auto;
}

.nav {
	height: 70px;
	flex-shrink: 0;
	background: #FFF;
	display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.logo {
	margin: auto;
}

.left-nav {
	height: 35px;
	flex-shrink: 0;
	cursor: pointer;
    position: relative;
    right: 0;
    margin: auto 0 auto 0;
}

.right-nav {
	height: 35px;
	flex-shrink: 0;
	cursor: pointer;
	position: relative;
    right: 0;
    margin: auto 0 auto 0;
}

.nav-item {
	display: inline-flex;
	padding: 9px 15px;
	align-items: flex-start;
	gap: 10px;
	position: relative;
}

.currency {
	padding: 0px;
    position: relative;
    top: -5px;
}

.btn-currency {
	border-radius: 35px;
    border: 1px solid #F2F2F2;
    background: #FFF;
}

.btn-currency > * {
	vertical-align: middle;
}



.panel {
	height: 50px;
    flex-shrink: 0;
    background: #F2F2F2;
    display: flex;
}

.panel-list {
	display: flex;
    /* width: 100%; */
    margin: auto auto auto 8px;
	cursor: pointer;
}

.panel-span {
	color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
	margin: auto 0px auto 10px;
}

.site-wide-deals-container {
    width: 160px;
    height: 60px;
    flex-shrink: 0;
	padding: 40px 0px;
	margin: auto;
}

.site-wide-deals-dollar {
	color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.site-wide-deals-off {
	color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.site-wide-deals-on-order {
	display: flex;
	width: 160px;
	height: 20px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}


.t-center {
	text-align: center;
}
.bg-f2 {
	background: #F2F2F2;
}

.d-flex {
	display: flex;
}


.d-none {
	display: none;
}

.f-size-15 {
	font-size: 15px !important;
}

.m-r-20 {
	margin-right: 20px;
}

.m-l-120 {
	margin-left: 120px
}

.m-auto {
	margin: auto;
}

.copyright {
	color: #000;
	font-family: Montserrat;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 50px;
}

.copyright img {
	width: 192.514px;
    height: 16.002px;
    float: right;
    position: relative;
    top: -5px;
}


.section {
	padding: 40px 0px;
}

.section-title {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 36px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: capitalize;
}


.section-item {
	display: inline-flex;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
	margin: auto;
}

.section-desc {
	display: flex;
	width: 225px;
	height: 50px;
	flex-direction: column;
	justify-content: center;
	color: #000;
	font-family: Montserrat;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}

.section-price {
    width: 225px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}


.view-all-post-container {
	text-align: center;
}

.view-all-post-container button {
	color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 15px;
    background: #000;
    border: none;
}

.exclusive {
    height: 75px;
    background: #000;
    flex-shrink: 0;
}

.exclusive-desc {
	color: #FFF;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: auto;
    display: flex;
    margin-right: 10px;
}

.exclusive-shop-btn {
	display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 15px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
	cursor: pointer;
}

.exclusive-desc2 {
	color: #FFF;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	width: 354px;
	height: 75px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
}

.exclusive-input-container {
	margin: auto;
    display: flex;
    margin-left: 10px;
}

.exclusive-input-container input {
	background: #F2F2F2;
    width: 354px;
    height: 35px;
	border: none;
}

.exclusive-input-container button {
	border: none;
	cursor:pointer;
}


footer {
	margin: 40px;
}

footer .title {
	color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px;
	cursor: pointer;
}

footer .list {
	color: #000;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 10px;
	cursor: pointer;
}

.add-to-cart-btn {
	float: right;
    border: 1px solid;
    border-radius: 10px;
    padding: 0px 15px;
    cursor: pointer;
	color: white;
	background: black;
	transition: .5s;
}

.add-to-cart-btn:hover {
	background: #8b8b8b;
	color: white;
	
}

.add-to-cart-badge {
	background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: white;
    font-size: 14px;
	position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
}

.overview-container {
	position: absolute;
    top: 40px;
    right: 0px;
    background: white;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
	width: 300px;
	z-index: 9;
}


.carousel-container {
	background: #EDE9DD;
    position: relative;
    height: 650px;
}

.carousel-bg-left {
	height: 100%;
    position: relative;
    z-index: 1;
    background: url(../img/carousel/img1.png) no-repeat;
}

.carousel-bg-right {
	position: absolute;
    top: 0;
    right: 0;
}

.carousel-gradient-div {
	background: linear-gradient(224deg, rgb(255 255 255 / 80%) -33.46%, #efebdf 120%);
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}


.carousel-bf-btn-container {
	position: absolute;
	top: 36px;
	right: 50px;
	z-index: 1;
}   

.carousel-slider {
	position: absolute;
    bottom: 20px;
    left: 50%;
    width: 50px;
    z-index: 1;
    transform: translateX(-50%);
}

.carousel-right-arrow {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 50px;
	z-index: 1;
	transform: translateY(-50%);
}

.carousel-left-arrow {
	position: absolute;
	top: 50%;
	left: 15px;
	width: 50px;
	z-index: 1;
	transform: translateY(-50%);
}

.black-friday {
	position: relative;
	height: 75px;
	flex-shrink: 0;
	background: url(../img/rectangle.png)   #040404 50% / cover no-repeat;
}

.black-friday-gradient {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 13.54%, #000 40.10%, #000 100%);
	width: 1440px;
	height: 75px;
	flex-shrink: 0;
}

.black-friday-text-container {
	position: absolute;
    top: 0;	
    width: 100%;

}

.trending-subline {
	color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
	margin-bottom: 15px;
}

.trending-category-title {
	color: #000;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-transform: uppercase;
	display: flex;
	width: 225px;
	height: 50px;
	flex-direction: column;
	justify-content: center;
}

.hashtag-text {
    display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #000;
    background: #FFF;
	margin: auto;
}

.new-arrivals-bg1 {
	height: 400px;
	background: url('../img/newarrivals/Rectangle 9.png'), lightgray 50% / cover no-repeat;position: relative;
}

.new-arrivals-bg2 {
	height: 400px;
	background: linear-gradient(90deg, rgba(255, 203, 124, 0.00) 0%, #FFCB7C 100%);
	mix-blend-mode: multiply;
}

.new-arrivals-img1 {
	background: url('../img/newarrivals/newarrivals1.png') no-repeat;
	width: 449px;
	height: 674px;
	position: absolute;
	top: 0;
	left: 100px
}

.new-arrivals-img2 {
	background: url('../img/newarrivals/newarrivals2.png') no-repeat;
	width: 449px;
	height: 674px;
	position: absolute;
	top: 0;
	left: 450px;
}

.new-arrivals-container {
	position: absolute;
    right: 150px;
    top: 50px;
}

.new-arrivals-container .title {
	height: 172px;
    width: 462px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 86px;
    font-style: normal;
    font-weight: 800;
    line-height: 86px;
    text-transform: uppercase;
}

.new-arrivals-container .tagline {
	color: #FFF;
    font-family: Montserrat;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 34px;
    width: 493px;
}

.new-arrivals-container button {
	display: inline-flex;
    padding: 10px 20px;
    align-items: flex-start;
    gap: 15px;
    background: #FFF;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    margin-top: 35px;
}






/*shopping-cart*/
.item-image {
	width: 150px;
    border-radius: 5px;
}

.title-brand-size {
	margin-left: 30px;
    font-size: 15px;
}

.title-brand-size div {
	margin: 10px 0px;
}

.title-brand-size .title {
	font-size: 30px;
}

.title-brand-size .brand {
	font-size: 25px;
}

.title-brand-size .size {
	font-size: 20px;
	color: gray;
}

.title-brand-size .quantity {
	font-weight: 600;
    font-size: 20px;
}


.add-remove {
	font-size: 23px;
    font-weight: 600;
    margin-right: 30px;
	cursor:pointer;
}

.add-remove:hover {
	color: gray;
}

.order-summary-box {
	border: #8b8b8b 3px solid;
    padding: 10px;
}

.order-summary-box div {
	margin: 10px 0px;
}

.order-summary-box div span {
	float: right;
}

.discounted {
	font-size: 20px;
    text-decoration: line-through;
    font-weight: 600;
}

.color-discounted {
	color: #C1272D;
}

.line-through {
	text-decoration: line-through;
}

.bolder {
	font-weight: 600;
}

.checkout-btn {
	margin: 10px 0px;
    background: black;
    color: white;
    font-size: 30px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
	transition: .5s;
}
.begin-checkout-btn {
	margin: 10px 0px;
    background: black;
    color: white;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
	transition: .5s;
	text-align: center;
}

.begin-checkout-btn a {
	text-decoration: none;
	color: white;
}

.checkout-btn:hover {
	background: #8b8b8b;
}

.item-list-container {
	margin-bottom: 200px;
}
